*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:white;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:rgb(9, 9, 35);
color:white;
}

.nav-links{
display:flex;
list-style:none;
}

.nav-links li{
margin-left:20px;
}

.nav-links a{
color:white;
text-decoration:none;
}

.hero{
height:70vh;
background:url("https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?cs=srgb&dl=pexels-pixabay-258154.jpg&fm=jpg") center/cover no-repeat;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:white;
text-align:center;
}

.hero h2{
font-size:40px;
}

.hero button{
margin-top:15px;
padding:10px 20px;
border:none;
background:gold;
border-radius: 10px;
}

.hero button:hover{
  background-color: rgb(234, 155, 8);
  transform: scale(1.1);
  transition: 0.1s all ease-in-out
}

.rooms{
padding:40px;
text-align:center;
background: black;
color: white;
}

.room-container{
display:flex;
gap:30px;
justify-content:center;
margin-top:30px;
color: black;
}

.room{
background:rgb(217, 202, 186);
padding:15px;
width:300px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.room img{
width:100%;
height:200px;
object-fit:cover;
}

.services{
padding:20px;
background:rgb(63, 63, 63);
color:white;
text-align:center;
}

.service-box{
display:flex;
justify-content:center;
gap:30px;
margin-top:20px;
}

footer{
background:black;
color:white;
text-align:center;
padding:15px;
}

@media (max-width: 768px){

.room-container{
flex-direction:column;
align-items:center;
}

.service-box{
flex-direction:column;
gap:15px;
}

}

@media (max-width: 300px){

.navbar{
flex-direction:column;
}

.nav-links{
flex-direction:column;
margin-top:10px;
}

.nav-links li{
margin:10px 0;
}

.hero h2{
font-size:28px;
}

}
